# List and its default functions

In [1]:
lst=[0,8,6,72,9.6,77777]

In [2]:
lst

[0, 8, 6, 72, 9.6, 77777]

In [3]:
len(lst)

6

In [4]:
lst1 = {"I", "am", "a", "student"}

In [6]:
print(list(lst1))

['student', 'I', 'am', 'a']

In [7]:
print(list(range(40)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [8]:
min(lst)

0

In [9]:
max(lst1)

'student'

In [10]:
max(lst)

77777

In [11]:
min(lst1)

'I'

# Dictionary and its default functions

In [12]:
dct = {'name': 'sarala','age':20,'mouni':22,'sandy':25}

In [13]:
type(dct)

dict

In [14]:
dct

{'name': 'sarala', 'age': 20, 'mouni': 22, 'sandy': 25}

In [15]:
len(dct)

4

In [16]:
all(dct)

True

In [17]:
any(dct)

True

In [18]:
sorted(dct)

['age', 'mouni', 'name', 'sandy']

# Sets and its default functions

In [19]:
set={"saru","python",0,2,5,6,8,7,5,4,5,7,9,8,12,6,1,0,5,5}

In [20]:
set

{0, 1, 12, 2, 4, 5, 6, 7, 8, 9, 'python', 'saru'}

In [21]:
len(set)

12

In [22]:
all(set)

False

In [23]:
any(set)

True

In [24]:
set1={5,8,6,9,71,1,2568}

In [25]:
max(set1)

2568

In [26]:
min(set1)

1

In [27]:
len(set1)

7

In [28]:
sorted(set1)

[1, 5, 6, 8, 9, 71, 2568]

In [30]:
sum(set1)

2668

# Tuple and explore default methods

In [31]:
tup=("saru",5,8,9,3,4,2)

In [32]:
type(tup)

tuple

In [35]:
tup.count(5)

1

In [38]:
tup.index(5)

1

In [39]:
tup.index(4)

5

# Strings and explore default methods

In [43]:
str='Python Essential'

In [44]:
str.center(25,'@')

'@@@@@Python Essential@@@@'

In [45]:
str.capitalize()

'Python essential'

In [46]:
str.casefold()

'python essential'

In [51]:
str.count('t')

2

In [52]:
str.endswith('a')

False

In [53]:
str.find('o')

4

In [54]:
str.islower()

False

In [55]:
str.lower()

'python essential'

In [56]:
str.upper()

'PYTHON ESSENTIAL'

In [57]:
str.lstrip()

'Python Essential'

In [58]:
str.replace('a','e')

'Python Essentiel'